<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burger Shop</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="/assets/js/script.js"></script>

    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Homemade+Apple|Lobster|Sarabun|Staatliches"
        rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
    {{{ body }}}
</body>

</html>